PORT=3001
DATABASE_PATH=./data/barbearia.sqlite
ADMIN_EMAIL=admin@barbearia.local
ADMIN_PASSWORD=
SHOP_NAME=D'Quebrada Cortes
SHOP_WHATSAPP=5511999999999
SHOP_ADDRESS=Rua Dr. Luiz Losso Filho, 703, Curitiba - PR
NODE_ENV=development
